<ion-header>
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Hi there!</h1>
  <img src="./assets/shapes.svg" />
  <ion-item>
    <ion-label position="stacked">Input</ion-label>
    <ion-input
      placeholder="placeholder"
      enterkeyhint="next"
      inputmode="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Input</ion-label>
    <ion-input
      placeholder="placeholder"
      enterkeyhint="next"
      inputmode="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Input</ion-label>
    <ion-input
      placeholder="placeholder"
      enterkeyhint="next"
      inputmode="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Input</ion-label>
    <ion-input
      placeholder="placeholder"
      enterkeyhint="next"
      inputmode="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Input</ion-label>
    <ion-input
      placeholder="placeholder"
      enterkeyhint="next"
      inputmode="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input
      placeholder="placeholder"
      enterkeyhint="next"
      inputmode="email"
      autocomplete="username"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input
      placeholder="placeholder"
      enterkeyhint="next"
      type="password"
      autocomplete="current-password"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Input</ion-label>
    <ion-input
      placeholder="placeholder"
      enterkeyhint="next"
      inputmode="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Input</ion-label>
    <ion-input
      placeholder="placeholder"
      enterkeyhint="go"
      inputmode="email"
    ></ion-input>
  </ion-item>
</ion-content>
